{% extends "base.html" %}

{% block title %}Nexlo - Connect with Friends{% endblock %}

{% block content %}
<div class="hero-section flex flex-col w-screen lg:w-[85vw] lg:mx-[auto]">
    <div class="hero-content flex flex-col bg-gray-100 p-2 sm:p-5 sm:my-10 items-center m-4 mb-0 pb-5 rounded-xl shadow-xl">
        <h1 class="text-5xl sm:text-[8vh] lg:text-[12vh] sm:py-20 sm:px-[5vw] lg:px-[15vw] text-center text-indigo-700 font-Montserrat font-bold p-5">Welcome to Nexlo: Your Hub for Seamless Connections</h1>
        <p class="font-Montserrat tagline px-3 max-w-screen text-gray-700 font-bold italic text-xl sm:text-[3vw] lg:px-[12vw] sm:py-[2vh]  lg:leading-[3rem]">
            Connect, share, and stay in touch with friends and loved ones, effortlessly.
        </p>
        <p class="description max-w-screen text-gray-700 text-[20px] p-[20px] pt-5 font-Open-Sans sm:text-[2.5vw]  sm:py-[2vw] lg:px-[12vw]">
            Nexlo is more than just a chat app; it's where your conversations come alive. Enjoy real-time messaging, secure communication, and a vibrant space to share your moments.
        </p>
        <div class="center-div">
            <div class="cta-button-wrapper bg-indigo-600 w-fit p-4 rounded-xl text-2xl text-white">
                <a href="/home" class="">Connect on Nexlo</a>
            </div>
        </div>
    </div>

    <section class="features-section">
        <div class="grid grid-cols-1 sm:grid-cols-3 p-5 mx-8">
            <div class="feature-item bg-white shadow-xl p-3 rounded-xl mb-5 shadow-gray-500 sm:mx-5 sm:p-5 lg:p-6.5" >
                <h3 class="text-xl text-center sm:text-[2.5vw] text-indigo-600 font-bold p-5 lg:leading-[2.6vw]">Real-time Conversations</h3>
                <p class="font-Inter p-2 text-xl sm:text-[2.5vw] lg:leading-[2.6vw] text-gray-600 text-center">Experience instant messaging with friends, ensuring you never miss a beat.</p>
            </div>
            <div class="feature-item bg-white shadow-xl p-3 rounded-xl mb-5 shadow-gray-500 sm:mx-5 sm:p-5 lg:p-6.5" >
                <h3 class="text-xl text-center sm:text-[2.5vw] text-indigo-600 font-bold p-5 lg:leading-[2.6vw]">Secure & Private</h3>
                <p class="font-Inter p-2 text-xl sm:text-[2.5vw] lg:leading-[2.6vw] text-gray-600 text-center">Your privacy is our priority. Chat confidently with end-to-end security measures.</p>
            </div>
            <div class="feature-item bg-white shadow-xl p-3 rounded-xl mb-5 shadow-gray-500 sm:mx-5 sm:p-5 lg:p-6.5" >
                <h3 class="text-xl text-center sm:text-[2.5vw] text-indigo-600 font-bold p-5 lg:leading-[2.6vw]">Connect Globally</h3>
                <p class="font-Inter p-2 text-xl sm:text-[2.5vw] lg:leading-[2.6vw] text-gray-600 text-center">Find and connect with friends from anywhere, making new connections simple.</p>
            </div>
        </div>
    </section>
</div>
<style>
    #encrypt{
        overflow-x: scroll;
        scrollbar-width: none;
    }
    body{
        scrollbar-width: none;
    }
</style>
{% endblock %}